<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Вы успешно зарегистрировались на localhost:3000,
    </p>
    <p>
      Чтобы войти на сайт, просто перейдите по этой ссылке: <%= @url %>.
    </p>
    <p>Спасибо, что присоединились к нам.</p>
  </body>
</html>
